@tailwind base;
@tailwind components;
@tailwind utilities;


.pg-spinner-border {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  border: 3px solid black;
  border-right-color: transparent;
  border-radius: 50%;
  animation: animate-spin 0.75s linear infinite;
  &.pg-spinner-border--light {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-right-color: transparent;
  }
  &.pg-spinner-border--lg {
    width: 40px;
    height: 40px;
  }
}

.my-btn {
  display: inline-block;
}